@import 'bootstrap';

:root {
    --primary-color: #fdf102;
    --secondary-color: #dc3545;
    --third-color: #f8f9fa;
}

.mynav {
    height: 7rem;
    padding: auto;
    margin: auto;
}

#nav_toggler {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.navbar-collapse.collapsing,
.navbar-collapse.collapse.show {
    margin-top: 3rem;
}

.anm_link {
    box-shadow: none;
    border-bottom: none;
}

.anm_link:hover {
    transform: scale(1.05);
    transition: 200ms;
}

.custom-button {
    background-color: var(--primary-color);
    padding: 7px 15px;
    font-size: 15px;
    border-radius: 10px;
    transition: background-color 0.5s, color 0.5s;
    text-decoration: none;
    color: black;
}

.custom-button:hover {
    background-color: var(--secondary-color);
    box-shadow: #282a35 1px 1px;

}

.custom-button:active {
    background-color: var(--secondary-color) !important;

}


.nav-active {
    border-bottom: 4px solid var(--primary-color);
}

.search {
    width: 0;
    opacity: 0;
    transition: width 0.8s ease, opacity 0.8s ease;
    border: none;
    display: none;

}

.search.expanded {
    border-radius: 5px;
    width: 150px;
    opacity: 1;
    display: flex;
}

.search:focus {
    outline: none;

    box-shadow: none;
}

.img-preview {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    width: 120px;
}


@media (max-width: 576px) {
    .search {
        width: 100%;
        opacity: 1;
        visibility: visible;
    }

    .search.expanded {
        width: 100%;
    }

    #searchInput {
        width: 50%;
    }
}