@import 'bootstrap';

:root {
    --primary-color: #fdf102;
    --secondary-color: #dc3545;
    --third-color: #f8f9fa;
}

.mynav {
    height: 9rem;
    padding: auto;
    margin: auto;
}

#btn_nav {

    color: black;
}

#nav_toggler {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.navbar-collapse.collapsing,
.navbar-collapse.collapse.show {
    margin-top: 3rem;
}

.anm_link {
    box-shadow: none;
    border-bottom: none;
}

.anm_link:hover {
    transform: scale(1.1);
    transition: 200ms;
}

.custom-button {
    background-color: var(--primary-color);

    border: none;
    padding: 7px 15px;
    font-size: 15px;
    border-radius: 3px;
    transition: background-color 0.5s, color 0.5s;

}

.custom-button:hover {
    background-color: var(--secondary-color);

}

.custom-button:active {
    background-color: var(--secondary-color) !important;

}

.nav-active {
    border-bottom: 4px solid var(--primary-color);
}

.Button {

    float: inline-end;
}